

$background-primary: rgba(164, 159, 158, 0.39);
$background-secondary: #BF7F624a;
$background-light: #ffffff;
$background-shadow: #e9ded6e1;



$text-primary:#ffffff;
$text-secondary:#D4956C;
$text-dark:#424242;
$text-black:rgb(17, 14, 13);