$background-primary: rgba(164, 159, 158, 0.39);
$background-secondary: #bf7f624a;
$background-light: #ffffff;
$background-shadow: #e9ded6e1;

$text-primary: #ffffff;
$text-secondary: #d4956c;
$text-dark: #424242;
$text-black: rgb(17, 14, 13);
$text-dark-primary: #241e1d;
