@import "colors";

.chapter-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  margin: 2.5em 0.75rem;
  .chapter-card {
    background: $background-light;
    padding: 0;
    aspect-ratio: 1;
    position: relative;
    border-radius: 5px;

    a {
      color: $text-black;
    }
    h1 {
      font-size: 30px;
      margin: 0;
    }
  }
}

.content {
  width: 100%;
  height: 100%;
}

.desc {
  box-sizing: border-box;
  color: $text-primary;
  margin: 0.75rem;
  p {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
}
